/* ==========================================================================
   #NAVIGATION
   ========================================================================== */

.c-navigation {
  display: flex;
  flex-direction: column;

  .c-navigation__menu {
    flex-direction: column;

    &.c-navigation__menu--options {
      background-color: $color-white;

      position: absolute;
      top: 3.25rem;
      width: 100%;
      z-index: 1;

      .c-navigation__item {
        text-align: left;

        .c-navigation__primary {
          display: flex;
          justify-content: space-between;
          background-color: $color-primary-50;
          margin-top: 0.125rem;

          a {
            color: $color-primary;
            padding: 0 $base-spacing-unit-small;
          }

          &:hover {
            background-color: $color-primary-2;
          }
        }

        &:not(.c-navigation__item-icon-option) {
          .c-navigation__primary {
            i {
              align-self: center;
              font-size: $icon-font-size-nav;
              padding: 1rem;
              text-align: right;
              background-color: $color-primary;
            }
          }
        }

        &.c-navigation__item-icon-option {
          .c-navigation__primary {
            i {
              color: $color-primary;
              padding: 1rem;
              font-size: $icon-font-size-nav;
            }

            i:last-child:not(.fa-magnifying-glass) {
              align-self: center;
              text-align: right;
              color: $color-white;
              background-color: $color-primary;
            }
          }
        }

        .c-navigation__dropdown {
          position: relative;
          right: unset;
          top: unset;
        }
      }
    }

    &.c-navigation__menu--branding {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .c-navigation__logo,
      .c-navigation__home {
        display: inline-flex;
        align-self: center;

        &:before {
          padding: 0 $base-spacing-unit-medium;
        }
      }

      .c-navigation__logo {
        display: none;
        font-size: $icon-font-size-nav-logo;

        &:before {
          content: $brand-nav-icon;
          padding: 0 $base-spacing-unit-medium;
        }
      }

      .c-navigation__mobile {
        cursor: pointer;
        padding: $base-spacing-unit-small;
        font-size: $icon-font-size-nav-mobile-menu;
      }

      .c-navigation__home {
        font-family: $brand-font-extrabold;
        font-size: $icon-font-size-nav;
        letter-spacing: $base-spacing-unit-xxs;
        padding: 0 $base-spacing-unit-small;
        margin: 0;
      }
    }
  }

  @media all and (min-width: $bp-xl) {
    flex-direction: row;

    .c-navigation__menu {
      display: inline-flex;
      flex-direction: row;

      &.c-navigation__menu--branding {
        flex-direction: row;

        .c-navigation__logo {
          display: block;
        }

        .c-navigation__mobile {
          display: none;
        }

        .c-navigation__home {
          padding: 0;
        }
      }

      &.c-navigation__menu--options {
        background-color: $color-primary;
        position: relative;
        top: 0;
        width: unset;

        .c-navigation__item {
          display: flex;
          margin-left: 1rem;
          white-space: nowrap;
          position: relative;

          &:hover {
            color: $color-primary;
            background-color: $color-primary-2;

            &:before,
            &:not(:last-child):after {
              color: $color-primary;
              background-color: $color-primary-2;
            }

            .c-navigation__primary {
              color: $color-primary;
              background-color: $color-primary-2;
              a {
                color: $color-primary;
              }
            }

            a {
              color: $color-primary;
            }

            .c-navigation__dropdown {
              @include fade-in;

              height: unset;
            }
          }

          &:before,
          &:not(:last-child):after {
            width: 1rem;
            height: 3.25rem;
            content: "";
          }

          &:before {
            margin-right: 1rem;
            margin-left: -1rem;
            -webkit-clip-path: polygon(93% 0,110% 0,110% 102%,0% 102%);
            clip-path: polygon(93% 0,110% 0,110% 102%,0% 102%);
          }

          &:not(:last-child):after {
            z-index: 1;
            margin-right: -1rem;
            margin-left: 1rem;
            -webkit-clip-path: polygon(-2px -2px,100% -2px,7% 102%,-2px 100%);
            clip-path: polygon(-2px -2px,100% -2px,7% 102%,-2px 100%);

          }

          &:before,
          &:after {

          }

          &.c-navigation__item--search,
          &.c-navigation__item--user {
            text-transform: capitalize;
            i { // Icon
              position: relative;
              font-size: $base-line-height * 0.75 + rem;
              height: $base-spacing-unit-large;
              width: $base-spacing-unit-large;
              padding-left: $base-spacing-unit-small;
              margin-top: $base-spacing-unit-small;
            }
          }

          &:nth-last-child(2),
          &:nth-last-child(1) {
            &:hover,
            &:hover:before,
            &:hover:after {
              color: $color-primary;
              background-color: $color-primary-2;

              i {
                color: $color-white;
              }
            }
          }

          &:nth-last-child(2),
          &:nth-last-child(2):before,
          &:nth-last-child(2):after {
            background-color: $color-primary-90;
          }

          &:nth-last-child(1),
          &:nth-last-child(1):before,
          &:nth-last-child(1):after {
            background-color: $color-primary-80;
            padding-right: $base-spacing-unit-small;
          }

          .c-navigation__primary {
            background-color: unset;
            margin-top: unset;

            .c-navigation__mobile-action {
              display: none;
            }
          }

          &:not(.c-navigation__item-icon-option) {
            .c-navigation__primary {
              

              a {
                color: $color-white;
                padding: 0;
                
              }
            }

            &:hover {
              .c-navigation__primary {
                a {
                  color: $color-primary;
                }
              }
            }
          }

          &.c-navigation__item-icon-option {
            .c-navigation__primary {
              background-color: unset;

              i {
                color: $color-white;
                font-size: $base-line-height * 0.75 + rem;
                padding: unset;
                padding-left: $base-spacing-unit-small;
                
              }
            }

            &:hover {
              .c-navigation__primary {
                i {
                  color: $color-primary;
                }
              }
            }
          }

          .c-navigation__dropdown {
            margin-left: -1rem;
            position: absolute;
            top: 3.25rem;
            left: 0;

            width: fit-content;

            &.c-navigation__dropdown--reverse {
              left: auto;
              right: 0;
              text-align: right;
            }

            a,
            div,
            span {
              padding: 0 $base-spacing-unit-small;
            }

            div {
              cursor: auto;
            }

            a {
              

              &:hover {
                color: $color-primary;
                background-color: $color-primary-2;
              }
            }

            img {
              max-width: $base-spacing-unit-xl;
            }
          }

          .c-navigation__username {
            font-size: $font-size-l-3;
          }
        }
      }
    }
  }
}