/* ==========================================================================
   #WRAPPERS
   ========================================================================== */

/* Center the content within a reasonably wide container. */

.o-wrapper {
  margin: $base-spacing-unit $base-spacing-unit-small;
  max-width: 75em; /* 1200 / 19 */
}

/**
 * Small
 */

.o-wrapper--small {
  max-width: 30em; /* 480 / 19 */
}

/**
 * Medium
 */

.o-wrapper--medium {
  max-width: 40em; /* 640 / 19 */
}

@media all and (min-width: $bp-medium) {
  .o-wrapper {
    margin: $base-spacing-unit auto;
  }
}