/* ==========================================================================
   #ICONS
   ========================================================================== */

$icon-font-size-nav-logo:         1.25rem;
$icon-font-size-nav:              1.25rem;
$icon-font-size-nav-mobile-menu:  1.50rem;
$icon-font-size-state:            1.75rem;
$icon-font-size-button:           0.75rem;
$icon-font-size-step:             2rem;

$icon-size-loader:                4.211rem; /* 80 / 19 */
$icon-size-loader-inner:          3.368rem; /* 64 / 19 */
$icon-size-loader-margin:         0.421rem; /* 8 / 19 */

$icon-size-loader-inside-inner:   2.368rem;
$icon-size-loader-inside-margin:  0.879rem;
$icon-size-loader: 4.211rem; /* 80 / 19 */
$icon-size-loader-inner: 3.368rem; /* 64 / 19 */
$icon-size-loader-margin: 0.421rem; /* 8 / 19 */

$icon-size-loader-inside-inner: 2.368rem; /* 38 / 19 */
$icon-size-loader-inside-margin: 0.879rem; /* 14 / 19 */

$icon-size-step: 4rem; /* 64 / 19 */
$icon-size-step-inner: 3rem;