/* stylelint-disable scss/dollar-variable-colon-space-after */

/* ==========================================================================
   #RESPONSIVE
   ========================================================================== */

/* Breakpoints */

$bp-small:  36em; /*  576 / 19 */
$bp-medium: 48em; /*  768 / 19 */
$bp-large:  62em; /*  992 / 19 */
$bp-xl:     75em; /* 1200 / 19 */
