/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  color: $color-hyperlink;
  //transition: $base-transition-default;

  &:active,
  &:focus {
    color: $color-hyperlink-active;
  }

  &:hover {
    color: $color-hyperlink-hover;
  }

  &:visited {
    color: $color-hyperlink;

    &:hover {
      color: $color-hyperlink-hover;
    }
  }
}
