/* ==========================================================================
   #HORIZONTAL RULE
   ========================================================================== */

hr {
  border: 0;
  height: 1px;
  background: $color-gray-40;
  background-image: linear-gradient(to right, $color-gray-20, $color-gray-40, $color-gray-20);
  margin: 1.6rem 0;
}